.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
    .title {
      font-size: 3rem;
      line-height: 2.6rem;
      font-weight: normal;
    }
  }
  .trivia-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    .trivia-item {
      padding: 1rem 0.3rem;
      display: flex;
      justify-content: space-between;
      .buttons-container {
        display: grid;
        grid-template-columns: 36px 36px 36px;
        column-gap: 4px;
        .MuiIconButton-edgeEnd {
          margin: 0;
        }
        .icon-button {
          padding: 0;
          height: 36px;
        }
      }
    }
    .trivia-item:nth-child(odd) {
      background-color: var(--cloudx-white);
    }
  }
  .amount {
    font-weight: lighter;
    line-height: 36px;
    align-self: flex-end;
  }
}
