.result {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .toasty {
    position: fixed;
    bottom: 0px;
    right: -1000px;
    background-color: red;
    display: block;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
  @keyframes move {
    0% {
      right: -1000px;
    }

    50% {
      right: 10px;
    }

    100% {
      right: -1000px;
    }
  }
  .message {
    margin: 0;
    font-size: 1rem;
    .ImTony,
    .SmokingForYou {
      height: 20px;
      width: 20px;
    }
  }
  .AreYouHere {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
    .ImTony,
    .SmokingForYou {
      height: 20px;
      width: 20px;
    }
  }
}
