.nav {
  box-shadow: 0px 1px 1px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: var(--cloudx-white);
  &-logo {
    width: 134px;
    height: 32px;
    opacity: 0.9;
  }
  &-logout {
    text-decoration: none;
    color: var(--cloudx-black);
  }
}

.children {
  padding: 3.5rem 13%;
  padding-bottom: 2rem;
  box-sizing: border-box;
  height: calc(100vh - 56px);
  overflow-y: auto;
  margin: auto;
}
