.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &-content {
    min-width: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--cloudx-gray);
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #00000029;
    background-color: var(--cloudx-white);
    &-title {
      margin-bottom: 32px;
      font-size: 24px;
      font-weight: normal;
    }
    &-logo {
      margin-bottom: 8px;
    }
  }
}
