@import './variables.scss';

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
}

html {
  font-size: 8px;
}

@media (min-width: $bp-l) {
  html {
    font-size: 16px;
  }
}

body,
html,
#root {
  height: 100%;
  background-color: var(--cloudx-gray-lighter);
}
